:root {

  --color-primary: #0968FE;
  --color-primary-light: #F8FAFC;
  --color-bg: #ffffff;
  --color-sidebar-bg: var(--color-primary-light);
  --color-text: #121829;
  --color-text-secondary: #4B5563;
  --color-border: #E5E7EB;
  --color-hover: #F3F6FB;


  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 32px;
  --gap-2xl: 48px;


  --sidebar-width: 260px;


  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 24px;


  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}
